body{
    background: linear-gradient(to bottom, rgba(141, 65, 255, 0.836), rgb(255, 62, 62));
    width: 100%;
    height: 100vh;
}
h1{
    color: white;
}
.car{
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.ca{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 360px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 35px 18px white;
}
p{
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
span{
    color: #51ff00;
}

button{
    padding: 10px 30px;
    margin: 5px;
    background-color: rgb(183, 183, 183);
    color: white;
    border: none;
    transition: .3s;
}
button:hover{
    background-color: red;
    cursor: pointer;
    transition: .3s;
    transform: scale(1.05);
}
.carr{
    width: 50%;
}

.jami h1{
    position: absolute;
    top: 5%;
    left: 40%;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.tb{
    display: block;
    width: 80%;
    height: 100px;
    background-color: rgba(224,122,4,.9450980392156862);
    border-radius: 100% 100% 10% 10%;
}
.k{
    display: none;
    width: 80%;
    height: 20px;
    background-color: #51ff00;
    border-radius: 25px 25px;
}
.pomi{
    display: none;
    width: 80%;
    height: 20px;
    background-color: #ff0000;
    border-radius: 25px 25px;
}
.sir{
    display: none;
    width: 80%;
    height: 20px;
    background-color: gold;
    border-radius: 25px 25px;
}
.g{
    display: none;
    width: 80%;
    height: 50px;
    background-color: #612902;
    border-radius: 25px 25px;
}
.bb{
    display: block;
    width: 80%;
    height: 100px;
    background-color: rgba(224,122,4,.9450980392156862);
    border-radius: 10% 10% 100% 100%;
}